--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.eventful.com/rest/events/get?app_key=<API_KEY>&id=E0-001-000278174-6
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        
        <event id="E0-001-000278174-6">
          <url>http://eventful.com/westchester_oh/events/martini-tasting-/E0-001-000278174-6?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
          <title>Martini Tasting</title>
          <description>Sample drinks made with featured vodkas.</description>
          <start_time>2005-08-24 12:00:00</start_time>
          <stop_time></stop_time>
          <all_day>0</all_day>
          <tz_id></tz_id>
          <tz_olson_path></tz_olson_path>
          <tz_country></tz_country>
          <tz_city></tz_city>
          <venue_name>Encore Cafe - West Chester</venue_name>
          <venue_id>V0-001-000108360-1</venue_id>
          <venue_type></venue_type>
          <venue_display>1</venue_display>
          <address></address>
          <city>West Chester</city>
          <region>Ohio</region>
          <region_abbr>OH</region_abbr>
          <postal_code>45069</postal_code>
          <country>United States</country>
          <country_abbr2>US</country_abbr2>
          <country_abbr>USA</country_abbr>
          <latitude>39.3360595703125</latitude>
          <longitude>-84.4053573608398</longitude>
          <geocode_type>Zip Code Based GeoCodes</geocode_type>
          <created>2005-07-28 13:09:09</created>
          <modified>2009-07-06 04:06:29</modified>
          <owner>evdb</owner>
          <privacy>1</privacy>
          <free></free>
          <price></price>
          <withdrawn>0</withdrawn>
          <withdrawn_note></withdrawn_note>
          <recurrence></recurrence>
          <parents></parents>
          <children></children>
          <links>
            <link id="312146">
              <url>http://frontier.cincinnati.com/calendar/proddisplay.asp?prodid=28356</url>
              <type>Official Site</type>
              <description>Details</description>
              <username>evdb</username>
              <time>2005-07-28 13:09:09</time>
            </link>
            <link id="8271086">
              <url>http://www.weblo.com</url>
              <type>Blog</type>
              <description></description>
              <username>Irfan</username>
              <time>2007-05-22 00:54:53</time>
            </link>
            <link id="8270969">
              <url>http://www.weblo.com</url>
              <type>Blog</type>
              <description></description>
              <username>Irfan</username>
              <time>2007-05-22 00:52:20</time>
            </link>
            <link id="33399387">
              <url>http://foo.com</url>
              <type>Info</type>
              <description>More Info&lt;img alt="some" src="http://img385.imageshack.us/img385/8363/fillerbu1.jpg"&gt;</description>
              <username>edepotinc</username>
              <time>2008-11-26 17:07:34</time>
            </link>
          </links>
          <comments>
            <comment id="111944">
              <text>This comment has been modified</text>
              <username>dipalisikand</username>
              <time>2012-09-13 00:54:03</time>
            </comment>
            <comment id="97133">
              <text>That sounds like fun!</text>
              <username>bialguos</username>
              <time>2011-06-22 10:22:04</time>
            </comment>
            <comment id="97041">
              <text>That sounds like fun!</text>
              <username>bialguos</username>
              <time>20[...]
- request: 
    method: get
    uri: http://api.eventful.com/rest/events/get?app_key=<API_KEY>&id=TEE%20HEE
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        
        <error string="Not found">
          <description>There is no event with the identifier 'TEE HEE'.</description>
        </error>

  recorded_at: Thu, 22 Nov 2012 03:48:10 GMT
- request: 
    method: get
    uri: http://api.eventful.com/rest/events/get?app_key=<API_KEY>&id=teehee
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        
        <error string="Not found">
          <description>There is no event with the identifier 'teehee'.</description>
        </error>

  recorded_at: Thu, 22 Nov 2012 03:54:14 GMT
recorded_with: VCR 2.3.0
