--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.eventful.com/json/events/get?app_key=<API_KEY>&id=E0-001-000278174-6
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {"withdrawn":"0","children":null,"comments":{"comment":[{"time":"2012-09-13 00:54:03","text":"This comment has been modified","id":"111944","username":"dipalisikand"},{"time":"2011-06-22 10:22:04","text":"That sounds like fun!","id":"97133","username":"bialguos"},{"time":"2011-06-20 04:05:29","text":"That sounds like fun!","id":"97041","username":"bialguos"},{"time":"2011-06-20 04:05:14","text":"That sounds like fun!","id":"97040","username":"bialguos"},{"time":"2010-09-16 01:27:41","text":"This is for test","id":"82709","username":"gfeder1"},{"time":"2010-09-16 01:04:15","text":"This is for test","id":"82708","username":"gfeder1"},{"time":"2010-05-18 10:46:40","text":"Thats great. am gonna be there","id":"75653","username":"imedia1"},{"time":"2010-05-18 10:45:56","text":"Thats+great.+am+gonna+be+there","id":"75652","username":"imedia1"},{"time":"2009-07-06 04:06:29","text":"Hello","id":"52285","username":"bala_1225"},{"time":"2009-07-06 02:21:23","text":"Hello","id":"52283","username":"bala_1225"}]},"region_abbr":"OH","postal_code":"45069","latitude":"39.3360595703125","all_day":"0","groups":null,"url":"http://eventful.com/westchester_oh/events/martini-tasting-/E0-001-000278174-6?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-000278174-6","address":null,"privacy":"1","links":{"link":[{"time":"2005-07-28 13:09:09","url":"http://frontier.cincinnati.com/calendar/proddisplay.asp?prodid=28356","id":"312146","type":"Official Site","description":"Details","username":"evdb"},{"time":"2007-05-22 00:54:53","url":"http://www.weblo.com","id":"8271086","type":"Blog","description":null,"username":"Irfan"},{"time":"2007-05-22 00:52:20","url":"http://www.weblo.com","id":"8270969","type":"Blog","description":null,"username":"Irfan"},{"time":"2008-11-26 17:07:34","url":"http://foo.com","id":"33399387","type":"Info","description":"More Info<img alt=\"some\" src=\"http://img385.imageshack.us/img385/8363/fillerbu1.jpg\">","username":"edepotinc"}]},"images":{"image":[{"small":{"width":"48","url":"http://s2.evcdn.com/images/small/I0-001/004/199/897-4.jpeg_/wil-wheaton-97.jpeg","height":"48"},"width":"48","creator":"sur4dye","thumb":{"width":"48","url":"http://s2.evcdn.com/images/thumb/I0-001/004/199/897-4.jpeg_/wil-wheaton-97.jpeg","height":"48"},"height":"48","url":"http://s2.evcdn.com/images/small/I0-001/004/199/897-4.jpeg_/wil-wheaton-97.jpeg","medium":{"width":"128","url":"http://s2.evcdn.com/images/medium/I0-001/004/199/897-4.jpeg_/wil-wheaton-97.jpeg","height":"128"},"id":"I0-001-004199897-4"},{"small":{"width":"48","url":"http://s2.evcdn.com/images/small/I0-001/001/280/477-2.jpeg_/wil-wheaton-77.jpeg","height":"48"},"width":"48","creator":"wilwheaton","thumb":{"width":"48","url":"http://s2.evcdn.com/images/thumb/I0-001/001/280/477-2.jpeg_/wil-wheaton-77.jpeg","height":"48"},"height":"48","url":"http://s2.evcdn.com/images/small/I0-001/001/2[...]
