--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.eventful.com/json/events/search?app_key=<API_KEY>&location=32.746682,-117.162741&within=25
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"last_item\":null,\"total_items\":\"4755\",\"first_item\":null,\"page_number\":\"1\",\"page_size\":\"10\",\"page_items\":null,\"search_time\":\"0.093\",\"page_count\":\"476\",\"events\":{\"event\":[{\"watching_count\":null,\"calendar_count\":null,\"comment_count\":null,\"region_abbr\":\"CA\",\"postal_code\":\"92101\",\"going_count\":null,\"all_day\":\"0\",\"latitude\":\"32.7170740\",\"groups\":null,\"url\":\"http://eventful.com/sandiego_ca/events/american-idiot-/E0-001-047467176-3@2013052819?utm_source=apis&utm_medium=apim&utm_campaign=apic\",\"id\":\"E0-001-047467176-3@2013052819\",\"privacy\":\"1\",\"city_name\":\"San Diego\",\"link_count\":null,\"longitude\":\"-117.1623440\",\"country_name\":\"United States\",\"country_abbr\":\"USA\",\"region_name\":\"California\",\"start_time\":\"2013-05-28 19:00:00\",\"tz_id\":null,\"description\":\"AMERICAN IDIOT, a 2010 Tony Award\xC2\xAE-nominated Best Musical and 2010 Grammy Award\xC2\xAE winner for Best Musical Show Album, features the music of Green Day with the lyrics of its lead singer Billie Joe Armstrong. The book is by Armstrong and Michael Mayer and direction is by Tony Award\xC2\xAE-winner Mayer (SPRING AWAKENING). Nominated for three Tony Awards\xC2\xAE, AMERICAN IDIOT is the story of three boyhood friends, each searching for meaning in a post 9-11 world. Through incredible spectacle, thrilling performances and with the hope embodied by a new generation, AMERICAN IDIOT has given Broadway audiences the time of their lives night after night. \\n\\nAdditional Show Dates:\\nWed Eve, May 29, 2013 \xE2\x80\x93 7pm\\nThu Eve, May 30, 2013 \xE2\x80\x93 7:30pm\\nFri Eve, May 31, 2013 \xE2\x80\x93 8pm\\nSat Mat, June 1, 2013 \xE2\x80\x93 2pm\\nSat Eve, June 1, 2013 \xE2\x80\x93 8pm\\nSun Mat, June 2, 2013  \xE2\x80\x93 1pm\\nSun Eve, June 2, 2013 \xE2\x80\x93 6pm\",\"modified\":\"2012-04-09 17:28:58\",\"venue_display\":\"1\",\"tz_country\":null,\"performers\":null,\"title\":\"American Idiot\",\"venue_address\":\"1100 Third Avenue\",\"geocode_type\":\"EVDB Geocoder\",\"tz_olson_path\":null,\"recur_string\":\"on various days\",\"calendars\":null,\"owner\":\"BroadwaySanDiego\",\"going\":null,\"country_abbr2\":\"US\",\"image\":{\"small\":{\"width\":\"48\",\"url\":\"http://s1.evcdn.com/images/small/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg\",\"height\":\"48\"},\"width\":\"48\",\"caption\":null,\"medium\":{\"width\":\"128\",\"url\":\"http://s1.evcdn.com/images/medium/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg\",\"height\":\"128\"},\"url\":\"http://s1.evcdn.com/images/small/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg\",\"thumb\":{\"width\":\"48\",\"url\":\"http://s1.evcdn.com/images/thumb/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg\",\"height\":\"48\"},\"height\":\"48\"},\"created\":\"2012-04-09 17:28:53\",\"venue_id\":\"V0-001-000913603-3\",\"tz_city\":null,\"stop_time\":\"2013-05-28 22:00:00\",\"venue_name\":\"San Diego Civic Theatre\",\"venue_url\":\"http://eventful.com/sandiego_ca/venues/san-diego-civic-theatre-/V0-001-000913603-3?utm_source=apis&utm_medium=apim&utm_campaign=apic\"},{\"watching_count\":null,\"calendar_count\":null,\"comment_count\":null,\"region_abbr\":\"CA\",\"postal_code\":\"92182\",\"going_count\":null,\"all_day\":\"0\",\"latitude\":\"32.7789676\",\"groups\":null,\"url\":\"http://eventful.com/sandiego_ca/events/san-diego-state-aztecs-mens-basketball-vs-nevad-/E0-001-051014723-4?utm_source=apis&utm_medium=apim&utm_campa[...]
