--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.eventful.com/rest/events/search?app_key=<API_KEY>&location=32.746682,-117.162741&within=25
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n\
        <search>\n  <total_items>4762</total_items>\n  <page_size>10</page_size>\n  <page_count>477</page_count>\n  <page_number>1</page_number>\n  <page_items></page_items>\n  <first_item></first_item>\n  <last_item></last_item>\n  <search_time>0.128</search_time>\n  <events>\n    <event id=\"E0-001-047467176-3@2013052819\">\n      <title>American Idiot</title>\n      <url>http://eventful.com/sandiego_ca/events/american-idiot-/E0-001-047467176-3@2013052819?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>\n      <description>AMERICAN IDIOT, a 2010 Tony Award\xC2\xAE-nominated Best Musical and 2010 Grammy Award\xC2\xAE winner for Best Musical Show Album, features the music of Green Day with the lyrics of its lead singer Billie Joe Armstrong. The book is by Armstrong and Michael Mayer and direction is by Tony Award\xC2\xAE-winner Mayer (SPRING AWAKENING). Nominated for three Tony Awards\xC2\xAE, AMERICAN IDIOT is the story of three boyhood friends, each searching for meaning in a post 9-11 world. Through incredible spectacle, thrilling performances and with the hope embodied by a new generation, AMERICAN IDIOT has given Broadway audiences the time of their lives night after night. \r\n\
        \r\n\
        Additional Show Dates:\r\n\
        Wed Eve, May 29, 2013 \xE2\x80\x93 7pm\r\n\
        Thu Eve, May 30, 2013 \xE2\x80\x93 7:30pm\r\n\
        Fri Eve, May 31, 2013 \xE2\x80\x93 8pm\r\n\
        Sat Mat, June 1, 2013 \xE2\x80\x93 2pm\r\n\
        Sat Eve, June 1, 2013 \xE2\x80\x93 8pm\r\n\
        Sun Mat, June 2, 2013  \xE2\x80\x93 1pm\r\n\
        Sun Eve, June 2, 2013 \xE2\x80\x93 6pm</description>\n      <start_time>2013-05-28 19:00:00</start_time>\n      <stop_time>2013-05-28 22:00:00</stop_time>\n      <tz_id></tz_id>\n      <tz_olson_path></tz_olson_path>\n      <tz_country></tz_country>\n      <tz_city></tz_city>\n      <venue_id>V0-001-000913603-3</venue_id>\n      <venue_url>http://eventful.com/sandiego_ca/venues/san-diego-civic-theatre-/V0-001-000913603-3?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>\n      <venue_name>San Diego Civic Theatre</venue_name>\n      <venue_display>1</venue_display>\n      <venue_address>1100 Third Avenue</venue_address>\n      <city_name>San Diego</city_name>\n      <region_name>California</region_name>\n      <region_abbr>CA</region_abbr>\n      <postal_code>92101</postal_code>\n      <country_name>United States</country_name>\n      <country_abbr2>US</country_abbr2>\n      <country_abbr>USA</country_abbr>\n      <latitude>32.7170740</latitude>\n      <longitude>-117.1623440</longitude>\n      <geocode_type>EVDB Geocoder</geocode_type>\n      <all_day>0</all_day>\n      <recur_string>on various days</recur_string>\n      <calendar_count></calendar_count>\n      <comment_count></comment_count>\n      <link_count></link_count>\n      <going_count></going_count>\n      <watching_count></watching_count>\n      <created>2012-04-09 17:28:53</created>\n      <owner>BroadwaySanDiego</owner>\n      <modified>2012-04-09 17:28:58</modified>\n      <performers></performers>\n      <image>\n        <url>http://s1.evcdn.com/images/small/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg</url>\n        <width>48</width>\n        <height>48</height>\n        <caption></caption>\n        <thumb>\n          <url>http://s1.evcdn.com/images/thumb/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg</url>\n          <width>48</width>\n          <height>48</height>\n        </thumb>\n        <small>\n          <url>http://s1.evcdn.com/images/small/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg</url>\n          <width>48</width>\n          <height>48</height>\n        </small>\n        <medium>\n          <url>http://s1.evcdn.com/images/medium/I0-001/007/673/324-5.jpeg_/american-idiot-24.jpeg</url>\n          <width>128</width>\n          <height>128</height>\n        </medium>\n      </image>\n      <privacy>1</privacy>\n      <calendars></calendars>\n      <groups></groups>\n      <going></going>\n    </event>\n    <event id=\"E0-001-047467146-2@2013073019\">\n      <title>Sister Act</title>\n      <url>http://eventful.com/sandiego_ca/events/sister-act-/E0-001-047467146-2@2013073019?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>\n      <description>SISTER ACT tells the story of Deloris Van Cartier, a wannabe diva whose life takes an surprising turn when she witnesses a crime and the cops hide her in the last place anyone would think to look\xE2\x80\x94a convent![...]
